<style>
    .ma{
        margin-left: 1.8%;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="statistic-eximport" lay-title="基础数据">
    <div class="layui-row febs-container">

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <!--<button class="layui-btn  layui-btn-sm layui-btn-primary febs-button-blue-plain" id="template-download"
                                                shiro:hasPermission="eximport:template">
                                            <i class="layui-icon">&#xe82a;</i> 模板下载
                                        </button>-->
                                    </div>
                                    <div class="layui-inline">
                                        <!--<button class="layui-btn  layui-btn-sm layui-btn-primary febs-button-green-plain " id="export"
                                                shiro:hasPermission="eximport:export">
                                            <i class="layui-icon">&#xe7a8;</i> 导出Excel
                                        </button>-->
                                    </div>
                                    <div class="layui-inline">
                                        <!--<button class="layui-btn  layui-btn-sm layui-btn-success" id="import"
                                                shiro:hasPermission="eximport:import">
                                            <i class="layui-icon">&#xe7aa;</i> 导入Excel
                                        </button>-->
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">导入人员:</label>
                                        <div class="layui-input-inline">
                                            <select name="statisticUser" id="statisticUser" lay-filter="statisticUser">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button class="layui-btn  layui-btn-sm layui-btn-primary febs-button-blue-plain ma" id="template-download"
                            shiro:hasPermission="eximport:template">
                        <i class="layui-icon">&#xe82a;</i> 模板下载
                    </button>
                    <button class="layui-btn  layui-btn-sm layui-btn-primary febs-button-green-plain " id="export"
                            shiro:hasPermission="eximport:export">
                        <i class="layui-icon">&#xe7a8;</i> 导出Excel
                    </button>
                    <button class="layui-btn  layui-btn-sm layui-btn-success" id="import"
                            shiro:hasPermission="eximport:import">
                        <i class="layui-icon">&#xe7aa;</i> 导入Excel
                    </button>
                    <table lay-filter="eximportTable" lay-data="{id: 'eximportTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="basic-data-platform">
    {{#
    let platform = {
    0: {title: '抖音', color: 'green'},
    1: {title: '快手', color: 'volcano'},
    2: {title: '小红书', color: 'red'}
    }[d.platform];
    }}
    <span class="layui-badge febs-bg-{{platform.color}}">{{ platform.title }}</span>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery', 'table', 'febs', 'upload','form','layer'], function () {
        let $ = layui.jquery,
            febs = layui.febs,
            upload = layui.upload,
            table = layui.table,
            $view = $('#statistic-eximport'),
            form = layui.form,
            $statisticUser = $view.find('#statisticUser'),
            layer = layui.layer,
            tableIns;
        // 初始化表单控件
        form.render();
        // 加载表格
        initTable();
        // 加载select框
        getStatisticUser();

        var statisticUserId = -1;
        upload.render({
            elem: '#import',
            url: ctx + 'basicData/import',
            accept: 'file',
            header: {id:statisticUserId},
            exts: 'xlsx|xls', // 只能上传 .xlsx格式
            size: 5 * 1024, // kb
            before: function () {
                febs.view.loadBar.start();
                this.data = {
                    userId:statisticUserId
                }
            },
            done: function (res) {
                febs.view.loadBar.finish();
                if (res.code === 200) {
                    // 刷新 table
                    tableIns.reload({page: {curr: 1}});
                    let data = res.data;
                    // 弹出导入结果
                    /*febs.modal.open('导入结果', 'others/eximport/result', {
                        area: $(window).width() <= 750 ? '95%' : '1000px',
                        data: data
                    });*/
                    febs.alert.success('导入成功');
                } else {
                    febs.alert.field('导入失败');
                }
            }, error: function (res) {
                //请求异常回调
                console.error(res);
                febs.view.loadBar.error();
                febs.alert.error('导入失败！');
            }
        });

        $view.on('click', '#template-download', function () {
            febs.download(ctx + 'basicData/template', null, 'Excel导入模板.xlsx');
        });

        $view.on('click', '#export', function () {
            let params = {};
            params.pageSize = $view.find(".layui-laypage-limits option:selected").val();
            params.pageNum = $view.find(".layui-laypage-em").next().html();
            febs.download(ctx + 'basicData/excel', params, 'Excel导出结果.xlsx');
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'eximportTable',
                url: ctx + 'basicData',
                cols: [[
                    {field: 'id', title: 'id', hide: true,minWidth: 100},
                    {field: 'importId', title: '导入记录id', hide: true,minWidth: 100},
                    {field: 'userId', title: '部门人id', hide: true,minWidth: 100},
                    {field: 'userName', title: '人员',minWidth: 100},
                    {title: '平台名称', templet: '#basic-data-platform',minWidth: 80},
                    {field: 'talent', title: '达人',minWidth: 100},
                    {field: 'url', title: '链接',minWidth: 150},
                    {field: 'likesOne', title: '点赞',minWidth: 70},
                    {field: 'quotation', title: '报价',minWidth: 100},
                    {field: 'remark', title: '备注',minWidth: 100},
                    {field: 'tiktokeAdd', title: '抖加',minWidth: 70},
                    {field: 'likesTwo', title: '点赞',minWidth: 70},
                    {field: 'clarity', title: '清晰度',minWidth: 80},
                    {field: 'copyWriting', title: '文案',minWidth: 70},
                    {field: 'shape', title: '睫毛款式',minWidth: 100},
                    {field: 'popular', title: '作品热门得分',minWidth: 120},
                    {field: 'maintain', title: '作品维护',minWidth: 100},
                    {field: 'cost', title: '投放成本',minWidth: 100},
                    {field: 'totalScore', title: '总分',minWidth: 100},
                    {field: 'importDate', title: '导入时间',minWidth: 150},
                ]]
            });
        }


        function getStatisticUser() {
            febs.post(ctx + 'statistic/select/list', null, function (r) {
                let options = '<option value="">请选择</option>';
                for (let item of r.data) {
                    options += '<option value="' + item.id + '">' + item.name + '</option>'
                }
                $statisticUser.append(options)
                form.render();

                form.on('select(statisticUser)', function(data){
                    console.log(data.value)
                    statisticUserId = data.value;
                    console.log("id =========== " + statisticUserId);
                });

            });
        }

    })
</script>